.vscode/
.idea/
__pycache__/
2D-heateq.mp4
data/
data/test_cons_dist.npy
data/test_temp_dist.npy
data/data_cons.npy
data/data_header.csv
data/data_temp.npy
data/data_heatmap_t=0.00.pdf
*.png
*.dat
*.csv